{% extends '/base.html.twig' %}

{% block body %}
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">

                <!-- Hero -->
                <div id="valuation-calculator" class="section mcb-section no-margin-v full-screen bg-cover" style="background-image:url(loans3/images/loans3-main-bg.jpg);background-repeat:no-repeat;background-position:center bottom">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-second valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_placeholder">
                                    <div class="placeholder">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:0 1% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column column-margin-20px">
                                    <div class="column_attr clearfix align_right mobile_align_center">
                                        <h1 style="font-size: 48px;">Get a FREE instant business valuation</h1>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix" style="background-color:#fff;padding:30px;border-radius:15px; box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);">

                                        <div id="contactWrapper">
                                            {{ form_start(businessValuationForm) }}
                                                <div class="column five-fifth">
                                                    <h6 style="margin-bottom:0;">Value your business in just 30 seconds</h6>
                                                    <hr />
                                                </div>

                                                <div class="column one-second">
                                                    {{ form_widget(businessValuationForm.first_name, { attr: { placeholder: 'First Name'}}) }}
                                                </div>
                                                <div class="column one-second">
                                                    {{ form_widget(businessValuationForm.last_name, { attr: { placeholder: 'Surename'}}) }}
                                                </div>
                                                <div class="clearfix" style="margin-bottom:7px;"></div>
                                                <div class="column one-second">
                                                    {{ form_widget(businessValuationForm.phone_number, { attr: { placeholder: 'Phone Number'}}) }}
                                                </div>
                                                <div class="column one-second">
                                                    {{ form_widget(businessValuationForm.email_address, { attr: { placeholder: 'Email Address'}}) }}
                                                </div>

                                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                                <div class="column one">
                                                    <input type="submit" value="Value Your Business" id="submit">
                                                </div>
                                            {{ form_end(businessValuationForm) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Get the value of your business in just 30 seconds -->
                <div class="section mcb-section" id="howitworks" style="padding-top:75px">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix align_center">
                                        <h2>Get the value of your business
                                            <br> in just 30 seconds</h2>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_divider">
                                    <hr class="no_line" style="margin:0 auto 30px">
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-third valign-top clearfix" style="padding:0 4%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_icon_box">
                                    <div class="icon_box icon_position_top no_border">
                                        <a class href="#">
                                            <div class="image_wrapper"><img src="loans3/images/loans3-icon1.png" class="scale-with-grid">
                                            </div>
                                            <div class="desc_wrapper">
                                                <h4 class="title">Provide us with your details</h4>
                                                <div class="desc">
                                                    Let us know your details so that once we have your valuation, we can send you our in-depth valuation guide
                                                    on how your business was valued, and how you can work on increasing the value of your business.
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-third valign-top clearfix" style="padding:0 4%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_icon_box">
                                    <div class="icon_box icon_position_top no_border">
                                        <a class href="#">
                                            <div class="image_wrapper"><img src="loans3/images/loans3-icon2.png" class="scale-with-grid">
                                            </div>
                                            <div class="desc_wrapper">
                                                <h4 class="title">Let us know some details about your business</h4>
                                                <div class="desc">
                                                    In order to provide you with an accurate valuation we'll need to know some details about your business. This includes
                                                    your sector, revenue, net profit and a few other pieces of information!
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-third valign-top clearfix" style="padding:0 4%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_icon_box">
                                    <div class="icon_box icon_position_top no_border">
                                        <a class href="#">
                                            <div class="image_wrapper"><img src="loans3/images/loans3-icon3.png" class="scale-with-grid">
                                            </div>
                                            <div class="desc_wrapper">
                                                <h4 class="title">Receive your valuation guide</h4>
                                                <div class="desc">
                                                    We'll provide you with an in-depth business valuation guide. This will outline how we valued your business, it'll offer some tips on
                                                    how you can work on increasing the value of your business as well as giving you some options if your looking for an exit strategy.
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- The fastest way to value a business -->
                <div class="section mcb-section no-margin-v" style="padding-top:100px;padding-bottom:100px">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one valign-top clearfix" style="padding:0 15%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_divider">
                                    <hr class style="margin:0 auto 1px;background-color:#d2d4d3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section bg-cover" id="benefits" style="padding-top:30px;background-image:url(loans3/images/loans3-patternbg.png);background-repeat:no-repeat;background-position:center">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:0 1%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="loans3/images/loans3-lady.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:0 5%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix">
                                        <h3>The fastest way to value a business</h3>
                                        <hr class="no_line" style="margin:0 auto 20px">
                                        <p>
                                            At businessvaluations.co.uk, we pride ourselves on giving the <strong>fastest and most accurate way for someone to value their business</strong>.
                                            Our offerings don't end there, are you looking for an exit strategy from your current business? We can help you realise your businesses valuation
                                            by passing you across to one of our trusted business brokers. Or we can put you in touch with one of our business strategiests who can help you
                                            put together a plan on how to increase your businesses valuation so that when your ready to exit, you can maximise your sale price.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_divider">
                                    <hr class="no_line" style="margin:0 auto 50px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 4 Section -->
                <div class="section mcb-section no-margin-v" style="padding-top:100px;padding-bottom:100px">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one valign-top clearfix" style="padding:0 15%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_divider">
                                    <hr class style="margin:0 auto 1px;background-color:#d2d4d3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section bg-cover" id="mission" style="padding-top:30px;padding-bottom:75px;background-image:url(loans3/images/loans3-patternbg2.png);background-repeat:no-repeat;background-position:center">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:0 3%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix">
                                        <h3>Looking to sell your business?</h3>
                                        <hr class="no_line" style="margin:0 auto 20px">
                                        <p>
                                            Our team of business experts know the business sales market. They have years of knowledge and expertise when it comes to selling businesses
                                        </p>
                                        <p>Most of our experts have come from a traditional business agency background. They have sold thousands of businesses like yours. <strong>We can help you get started on your business sale journey.</strong></p>
                                        <p>Our business sales experts will be able to help you with the best steps to start selling your business. Following your valuation, we'll be able to select the best broker to help you sell your business. Our in-depth guides we send following your valuation will also help you with the sale of your business.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:0 3%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix">
                                        <h3>Increase your businesses value</h3>
                                        <hr class="no_line" style="margin:0 auto 20px">
                                        <p>Our business experts have the acumen and strategies to <strong>enhance your businesses valuation</strong>.  With their guidance, you can amplify the worth of your enterprise to new heights.</p>
                                        <p>We can help to offer you a strategic path on how to grow your business, as well as cut costs. All in all, increasing it's profitability, it's valuation and it's saleability.</p>
                                        <p>If you don't think it's time to exit your business yet, trust our skilled professionals. Contact our experts today to witness remarkable transformations firsthand.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="section mcb-section bg-cover" id="mission" style="padding-top:30px;padding-bottom:75px;background-image:url(loans3/images/loans3-patternbg2.png);background-repeat:no-repeat;background-position:center">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:0 3%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix">
                                        <h3>Who are we?</h3>
                                        <hr class="no_line" style="margin:0 auto 20px">

                                        <p>Our team has over 30-years of experience in buying, selling and growing businesses. Following our successes we decided to launch businessvaluations.co.uk. A place dedicated to helping business owners realise their potential.</p>

                                        <p>Whether your looking for a swift exit, to grow your business or to buy a business, our team can help you.</p>

                                        <p>Through our years selling and buying businesses, we've built a list of tried and test business brokers that you can trust. Once you've completed your business valuation, we can get the correct broker for you and start your business sales journey.</p>

                                        <p>Alternatively, we can pass you onto our growth team who can help you increase your businesses valuation. Our growth team is made up of growth experts, who specialise in scaling businesses. By scaling businesses correctly, we increase their profitability and in-turn their valuations.</p>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:0 3%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix">
                                        <h3>Business Guides</h3>
                                        <hr class="no_line" style="margin:0 auto 20px">
                                        <p>
                                            Valuing and selling your business requires a lot of preparation. That's why we've put together some in-depth guides to get you started. First, we'll cover everything you need to know about valuing your business, and then, the steps towards selling the business.
                                        </p>
                                        <p>
                                            The valuation guides will take you through everything you need to know about valuing a business, including:
                                        </p>

                                        <ul>
                                            <li><a href="#">What is a business valuation?</a></li>
                                            <li><a href="#">How do you calculate the value of a business?</a></li>
                                            <li><a href="#">How do you increase the value of a business?</a></li>
                                            <li><a href="#">What affects the valuation for a business?</a></li>
                                            <li><a href="#">Why do I need to know the value of my business?</a></li>
                                        </ul>
                                        <br />

                                        <center>
                                            <a class="button scroll" href="#" style="background-color:#65ca46!important;color:#fff;"><span class="button_label"><strong>Read Business Guides</strong></span></a>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_divider">
                                    <hr class="no_line" style="margin:0 auto 50px">
                                </div>
                                <div class="column mcb-column one column_testimonials">
                                    <div class="testimonials_slider single-photo">
                                        <ul class="testimonials_slider_ul">
                                            <li>
                                                <div class="single-photo-img"><img src="loans3/images/loans3-test3-85x85.jpg" class="scale-with-grid wp-post-image" alt="Business Valuations Review One">
                                                </div>
                                                <div class="bq_wrapper">
                                                    <blockquote>
                                                        Business Valuations helped me to understand the value behind the business I'd built. They then helped me to find the perfect business sales brokers to sell my business.
                                                    </blockquote>
                                                </div>
                                                <div class="hr_dots">
                                                    <span></span><span></span><span></span>
                                                </div>
                                                <div class="author">
                                                    <h5>Sarah</h5>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="single-photo-img"><img src="loans3/images/loans3-test2-85x85.jpg" class="scale-with-grid wp-post-image" alt="Business Valuations Review Two">
                                                </div>
                                                <div class="bq_wrapper">
                                                    <blockquote>
                                                        Before I discovered businessvaluations.co.uk, I'd become stuck in a rut with my business. They however helped me to realise the potential that my business has. Now I have a clear growth strategy with the help of Business Valuations to help me reach my goal of a large exit.
                                                    </blockquote>
                                                </div>
                                                <div class="hr_dots">
                                                    <span></span><span></span><span></span>
                                                </div>
                                                <div class="author">
                                                    <h5>Jenny</h5>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="single-photo-img"><img src="loans3/images/loans3-test1-85x85.jpg" class="scale-with-grid wp-post-image" alt="Business Valuations Review Threew

">
                                                </div>
                                                <div class="bq_wrapper">
                                                    <blockquote>
                                                        Business Valuations helped me to sell my business so that I could achieve my ultimate goal of retiring early.
                                                    </blockquote>
                                                </div>
                                                <div class="hr_dots">
                                                    <span></span><span></span><span></span>
                                                </div>
                                                <div class="author">
                                                    <h5>John</h5>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="slider_pager slider_pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- How does the calculator work? -->
                <div class="section mcb-section" id="howitworks" style="padding-top:75px">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix align_center">
                                        <h2>Establishing a value for a business</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one valign-top clearfix" style="padding:0 4%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_icon_box">
                                    <div class="icon_box icon_position_top no_border">
                                        <div class="desc_wrapper">
                                            <div class="desc align_center">
                                                <p style="font-weight: bold;">
                                                    There are 3 main ways in which you can establish the initial valuation for a business. These are:
                                                </p>
                                                <ul>
                                                    <li>Multiple of profits</li>
                                                    <li>Asset Value</li>
                                                    <li>Discounted Cash Flow (DCF)</li>
                                                </ul>
                                                <br />

                                                <h3>Multiple of Profits</h3>

                                                <p>The multiple of profits method involves adjusting the profits of the business to add back any benefits the current owner receive. These include things like running personal vehicles through the business to pension contributions. You can also re-add any one-off expenses that wouldn't recur for the new owner.</p>

                                                <p>To calculate this, we workout the EBITDA and then add the elements above. This then gives us the adjusted profits figure.</p>

                                                <h3>Asset Value</h3>

                                                <p>When a business is not massively profitable but has a lot of assets, we look at the asset value. Depending on how the business is set-up, we may use different methods. For a Limited Company you'd use the balance sheet to calculate the net current position. This would then represent the asset value.</p>

                                                <p>In a sole trader set up, the assets and liabilities are a little different. They are the individuals, so taking account of the liabilities is not usually necessary. You would simple need to take the actual asset value.</p>

                                                <h4>What is a business asset?</h4>

                                                <p>A business asset is something that the business owns and delivers value to the business. Assets can be used for services, to produce goods and fund operations. An asset could be a machine, building, stock, furniture or intellectual property. They are essential anything that is owned by the business intended for business use.</p>

                                                <h3>Discounted Cash Flow (DCF)</h3>

                                                <p>The DCF method is generally used to value larger businesses, is usually a more accurate way to value a business.  The method uses the businesses future cash flows discounted to today’s money.</p>

                                                <p>If all this information is a little overwhelming, don't worry, we are here to help. Youy can either visit our guides or get in touch with our team. We're always available to help you with your valuation.</p>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Frequently Asked Questions -->
                <div class="section mcb-section" id="howitworks" style="padding-top:75px">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix align_center">
                                        <h2>Frequently Asked Questions</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one valign-top clearfix" style="padding:0 4%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_icon_box">
                                    <div class="icon_box icon_position_top no_border">
                                        <div class="desc_wrapper">
                                            <div class="desc align_center">
                                                <!-- Why do I need to value my business? -->
                                                <h4>Why do I need to value my business?</h4>

                                                <p>Valuing your business is more than just getting a price for a sale.  A valuation establishes a base value which helps to inform financial goals and business strategies. A business valuation also allows you to understand your businesses potential for growth.</p>

                                                <p>Also, if your looking to sell your business, a valuation is extremely important. It helps to determine the fair market price for your business.</p>

                                                <p>If a business is over-priced , it will not attract any buyer interest and is unlikely to sell at all. If a sale price too low, you may be cheating yourself out of a large sum of money. By correctly valuing your business, your ensuring all parties get the correct deal in a business sale.</p>

                                                <hr />

                                                <!-- What tax will I pay when selling my business? -->
                                                <h4>What tax will I pay when selling my business?</h4>

                                                <p>When selling a business, the  sale of shares is subject to Capital Gains Tax (CGT) . The amount paid in CGT will be influenced by your personal tax circumstances.</p>

                                                <p>Whilst the conditions for Entrepreneurs' Relief (a CGT rate of 10 per cent) may appear simple, we recommend you take formal advice where the transaction structure is unusually complex, notwithstanding our panel of lawyers are normally happy to give a basic level of CGT advice.</p>

                                                <hr />

                                                <!-- How long does it take to sell a business? -->
                                                <h4>How long does it take to sell a business?</h4>

                                                <p>Unfortunately there is no single answer as to how long it will take to sell a business. The sale of business is generally dependent on the demand for the business that is being sold. Generally businesses with a smaller value will sell quicker as they have a larger pool of potential buyers. Businesses selling for a larger price have a smaller pool, and will also need more due diligence.</p>

                                                <p>According to various studies, the sale of a business generally takes around 6 to 9 months. If your looking for a sale quicker than this then you need to ensure your asking price is enticing.</p>

                                                <hr />

                                                <!-- What will buyers look for in my business? -->
                                                <h4>What will buyers look for in my business?</h4>

                                                <p>When someone's looking to buy a business, they are generally looking for a business that has the potential for growth. The buyer will want to lower their risk to maximise their investment. This means that they'll do a lot of due diligence into various attributes in the business.</p>

                                                <p>Purchases will want to access your financial conditions. This will include your financial statements, tax returns, depreciation schedules and payroll records. They will also want to see your earnings (profit before tax) for up to the past five years, if they are available.</p>

                                                <p>They'll also want to review the assets of your business. This will be to ensure that they not only exist, but they are in quality order. This could include facilities, equipment/vehicles, inventories and leasehold improvements.</p>

                                                <p>It's important that you have a professional who can help you during the sale of your business. This will drastically improve the chance  of surviving due diligence, closing the transaction, and getting the most value the market will support.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Quick & easy business valuations -->
                {% include 'Components/quick-valuation-section.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}